.mt-60 {
    margin-top: 60px !important;
}

.p-24 {
    padding: 24px !important;
}

.mb_30 {
    margin-bottom: 30px;
}

.section_title {
    position: relative;
    display: inline-block;
    padding: 0;
}

.section_title .section_title_text {
    font-size: 18px;
    position: relative;
    margin: 0;
    font-weight: bold;
}

.section_title span {
    position: absolute;
    height: 7px;
    width: 100%;
    opacity: 0.4;
    bottom: 0;
    left: 0;
    background-color: #ffa700;
}