.ctgMGMT {
  margin-top: 30px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .inputSearch {
      width: 270px !important;
    }

    .btn {
      display: flex;
      align-items: center;
    }
  }

  .tblCategories {
    margin-top: 30px;
  }
}
