.headerTop {
    max-width: 1170px;
    height: 34px;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sologan {
    color: #606060;
    font-size: 1rem;
    font-weight: 450;
}

.navLink > a {
    margin-left: 15px;
    color: #000000;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.5s;
}

.navLink > a:hover {
    color: rgba(102,102,102,.85);
}