.subctgName {
    margin: 0px;
    padding: 2px 8px;
    color: #333333;
}

.labelUpdate {
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

.labelAddNew {
    font-weight: 600;
    cursor: pointer;
    color: #4BAC4D;
    text-decoration: underline;
}