.amenities__detail-house {
    .checkbox-group {
        max-width: 600px;
        max-height: 150px;
        overflow-y: auto;
        display: grid;
    }
    // .ant-checkbox-group-item {
    //     display: block;
    // }
    .ant-checkbox-group {
        display: inline-block
    }
    .ant-checkbox-group-item>span {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ant-checkbox-group-item {
        display: block;
        margin-right: 0;
    }
    .ant-checkbox-wrapper {
        display: flex;
        width: 100%;
    }
}