.contactInfo_item {
    font-size: 14px !important;
    color: #787878;
    margin-top: 12px !important;
}

.contactInfo_item > span {
    color: #272829;
    font-weight: bold;
    margin-right: 10px;
}

.contact_socials {
    margin-top: 25px;
}

.contact_socials_icon > a > .MuiSvgIcon-root {
    font-size: 24px !important;
    margin-right: 15px;
    color: #333;
}