.header {
  margin-bottom: 30px !important;
  background-color: white !important;
  padding: 0 22px 0 0 !important;
  border-radius: 6px !important;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);

  &_navlink {
    padding: 0px;
  }

  &_link {
    font-weight: 500;
    color: darkslategray !important;

    &:hover {
      color: var(--main-color) !important;
    }
  }

  &_link_active {
    font-weight: 500;
    color: var(--main-color) !important;
  }

  &_home_rounded {
    background-color: var(--main-color);
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &_left {
    margin-right: auto;
  }

  &_right {
    display: flex !important;
    align-items: center !important;
  }

  &_right > a > svg {
    font-size: 20px !important;
    margin-right: 12px;
    color: #333;
  }
}
