.aboutme_text {
    color: darkslategray !important;
    font: smaller !important;
    line-height: 22px !important;
    white-space: pre-line !important;
}

.section .resume_timeline .resume_timeline_content .resume_timline_title {
    font-size: 16px !important;
    font-weight: bold !important;
    color: #272829 !important;
}

.section .resume_timeline .resume_timeline_content .resume_timeline_date {
    color: darkslategray !important;
}   

.section .resume_timeline .resume_timeline_content .resume_timeline_description {
    color: gray !important;
    font-size: small !important;
    margin-top: 6px;
}