.facebook__login__container {
    display: flex;
    // justify-content: 'center';
    border-radius: 2px;
    width: 100%;
    border: 1px solid #d9d9d9;
    background-color: 'rgb(255, 255, 255)';
    &:hover {
        box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    }
    cursor: pointer;
    .facebook__login__item {
        padding: 3px 0px;
        width: 100%;
        .facebook__login--btn {
            width: 100%;
            display: flex;
            background-color: 'rgb(255, 255, 255)';
            border: none !important;
            box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
            color: rgba(0, 0, 0, 0.54);
        }
        .facebook__login--image--container {
            width: 20%;
            .facebook__login--image {
                height: 23px;
                margin-right: 10px;
                max-width: 100%;
            }
        }
        .facebook__login--title {
            width: 80%;
        }
    }
}