.userLayout {
    overflow-x: hidden;
    background: url('https://res.cloudinary.com/dtjin3cf6/image/upload/v1667398736/My%20Projects/My%20Resume/my_resume_bg_bnagqa.png');
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 36px;
}

@media screen and (max-width: 992px) {
    .container {
        margin-top: 6px;
    }
}