.tenants-filter__wrap {
  margin-top: 5px;
  padding: 0px 10px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;

  background: rgb(255, 255, 255);
  box-shadow: rgb(232 232 232) 0px 1px 2px 0px;
  color: rgb(109, 125, 134);

  border: 1px solid transparent;
  border-radius: 4px;

  font-size: 1rem;

  -webkit-box-align: center;
  .tenants-people {
    display: flex;
    gap: 0 10px;
    align-items: center;
    cursor: pointer;
  }

  .tenants-slider {
    padding: 16px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
