.footerLayout {
    background-color: #1e1e1e;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    border-radius: 8px;
    padding: 20px 25px;
}

.footerLayout > p {
    margin: 0px;
    padding: 0px;
}

.footerTitle {
    color: #ffffff;
    font-size: 16px;
}

.footerCopyright {
    font-size: small;
    text-align: end;
    color: #9c9c9c;
}

.footerCopyright > a {
    text-decoration: none;
    color: #ffc500; 
    font-weight: 600;
    margin-left: 8px;
}

.footerCopyright > a:hover {
    cursor: pointer;
    color: rgb(247, 217, 120);
}
