.inputSearch {
  width: 100% !important;

  span {
    span > button {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      line-height: 32px !important;
      width: 50px !important;

      &:hover {
        border-color: #17a2b8 !important;
      }

      &:focus {
        border-color: #17a2b8 !important;
      }

      span {
        display: flex !important;
      }
    }

    input {
      &:hover {
        border-color: #17a2b8 !important;
      }

      &:focus {
        border-color: #17a2b8 !important;
      }

      &::placeholder {
        color: #000000 !important;
      }
    }
  }
}
