// @media screen and (max-width: 1536px) {
//   .footerContent {
//     width: 70% !important;
//   }
// }

// @media screen and (max-width: 600px) {
//   .footerContent {
//     width: 100% !important;
//   }
// }

footer {
  margin-top: 12px;
  background-color: #ffffff;

  h3 {
    font-size: 16px;
    padding-top: 12px;
    font-weight: bold;
    color: rgb(34, 34, 34);
    margin: 0px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  a {
    color: #777777;
    font-size: 14px;
    padding-bottom: 6px;
  }

  .footerContent {
    // min-width: 1060px;
    // max-width: 1060px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 30px;
    margin: 0 auto;

    .item {
      width: 25%;
      padding: 0px !important;
    }

    .downloadApp {
      display: flex;

      .qrCode > img {
        width: 97px;
        height: 97px;
        margin-right: 12px;
      }

      .appLogo > img {
        margin-bottom: 12px;
        width: 94px;
        height: 32px;
      }
    }

    .support,
    .about {
      display: flex;
      flex-direction: column;
    }

    .link > .socials > img {
      margin-right: 24px;
    }
  }
}
